html, body {
  font: 1.2rem/1.5 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  height: 100%;
  margin: 0;
}
.footer {
  font: 0.7rem/1.1 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

#map {
  width: 100%;
  height: 100%;
}
#spatial-unit-title {
  font-weight: bold;
}
/* This style forces the base layers to grey */
/*
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
*/
.leaflet-container{
  font: 12px/1.5 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.leaflet-popup-content{
  min-width: 220px !important;
}
.popup-spatial-unit-table {
  width: 100%;
  white-space: nowrap;
}
.popup-spatial-unit-table tr:nth-child(even) {
  background-color: #dcedc8;
}
.popup-deter-table tr:nth-child(even) {
  background-color: #dcedc8;
}
/** Used in profile chart panel */
text.gtitle{font-size:15px !important;}
.loading-data{
  display: none;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 40px;
  width: calc(100%);
  z-index: 999999;
  text-align: center;
  background-color: #f0f8ffa6;
}
.loading-data img{
  padding: calc(15%);
}

/** change get feature info cards */
.card-link .collapsed, .card-link, a[aria-expanded="true"] {
  color: #f0f4f4 !important;
  background-color:transparent!important;
  font-weight: bold;
}
.card-header {padding: 0.25rem 0.5rem; background-color: #108d6f;}
.card-body {padding: 0.35rem; overflow-x: auto;}

.tooltip-inner {
  max-width: 440px;
  text-align: start;
  background-color: #000;
  white-space: nowrap;
  font-size: 14px;
}
input.threshold{
  width: 45px;
  height: 28px;
  font-size: initial;
  border: 1px #dddddd solid;
  border-radius: 4px;
  background: #ebfbeb;
}
.input-label{
  font: 0.9rem/1.1 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  color:rgb(53, 53, 53);
}
.configtext{
  font-size: 0.9rem;
}