html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
}
#spatial-unit-title {
  font-weight: bold;
}
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.popup-spatial-unit-table tr:nth-child(even) {
  background-color: #dcedc8;
}
.popup-deter-table tr:nth-child(even) {
  background-color: #d3d3d3;
}