html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
}
#spatial-unit-title {
  font-weight: bold;
}
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.popup-spatial-unit-table tr:nth-child(even) {
  background-color: #dcedc8;
}
.popup-deter-table tr:nth-child(even) {
  background-color: #dcedc8;
}
/** Used in profile chart panel */
text.gtitle{font-size:15px !important;}
.loading-data{
  display: none;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 40px;
  width: calc(100%);
  z-index: 999999;
  text-align: center;
  background-color: #f0f8ffa6;
}
.loading-data img{
  padding: calc(15%);
}