.leaflet-control-legend{
    background-color: #00796b;
    border-radius: 4px 0px 0px 4px;
    margin-right: auto !important;
}
.label-legend{
    color: #f8f9fa;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    display: none;
    cursor: pointer;
}
.leaflet-control-wms-legend{
    display: inline-grid;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: start;
    background-color: #FFFFFF;
}
.wms-label-legend{
    color: #00796b;
    font-weight: 500;
    background-color: #f3f3f3;
    border-radius: inherit;
}