.leaflet-bottom, .leaflet-right{
  display: grid;
}
.leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
}
.leaflet-middle {
  top: 50%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transform: translate(0%, -50%);
}
.leaflet-center.leaflet-middle {
  transform: translate(-50%, -50%);
}
.leaflet-period-control-form {
  background-color: #f8f9facf;
  padding: 4px 0px 4px 6px;
  color: #00796b;
  border-radius: 0px 0px 6px 6px;
  border: solid #d9ed3d;
  border-width: 0px 2px 2px 2px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}
.leaflet-period-control-info {
  font-weight: bold;
  font-size: large;
  padding-bottom: unset;
  border-radius: 6px 6px 0px 0px;
  border-width: 2px 2px 1px 2px;
  border-bottom: 1px solid #94a97f;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.period-control {
  font-weight: bold;
  margin-bottom: 0.1rem;
  margin-right: 0.2rem;
  font-size: large;
}
.icon-period-control {
  font-weight: bold !important;
  margin-right: 0.2rem;
  font-size: 28px !important;
  background-color: #ffc107;
  color: #00796b;
  border-radius: 15px;
  height: fit-content;
  margin-top: 4px;
  cursor: pointer;
}
#numdays {
  border: none;
  background-color: rgb(0, 121, 107);
  color: aliceblue;
  border-radius: 5px;
  margin: 0px 5px 5px 2px;
}
/** https://stackoverflow.com/a/4407335/6710366 */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** risk control styles */
.leaflet-slider-control-form {
  background-color: #f8f9facf;
  padding: 4px 0px 4px 6px;
  color: #00796b;
  border-radius: 4px;
  width: 400px;
  height: 92px;
  border: solid #d9ed3d;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  position:relative;
  z-index: 1;
  padding-right: 5px;
}

.leaflet-slider-control-label {
  font-size: 15px;
  height: 35px;
  text-align: left;
}

.leaflet-slider-control-content{
  width: 100%;
}

.input-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  z-index: 2;
}

.input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #00796b;
  margin-top: 2px;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
}

.input-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #00796b;
  cursor: pointer;
  margin-top: 2px;
  transform: translateY(-50%);
}

.input-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #a2aaa9;
  border: none;
  border-radius: 10px;
}

.input-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #a2aaa9;
}

/** balloon for selected value */
.leaflet-slider-control-value {
  position: absolute;
  top: -40px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  font-size: 10px;
}

.ticks-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 51px;
  height: 15px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.tick {
  width: 4px;
  height: 100%;
  background-color: #00796b;
  border-radius: 2px;
}

.tick-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 68px;
  font-size: 12px;
  left: 0px;
}

.risk-status-label {
  font-size: 12px;
}
