<!DOCTYPE html>
<html>
<head>
	
	<title>AMS - Amazon Situation Room</title>

	<meta charset="utf-8" />
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="pt-br, en">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="AMS is a Web Mapping GIS application, which integrates with REST and OGC web services that provide spatial data on deforestation of Brazil Amazon rainforest obtained by satellites.">
	<meta name="keywords" content="INPE, DETER, AMS, desmatamento, deforestation">
	<meta name="author" content="Rodrigo Avancini - avancinirodrigo@gmail.com">
	<meta name="author" content="Mauro Assis - assismauro@hotmail.com">
	<meta name="author" content="André Carvalho - andre.carvalho@inpe.br">
	<meta name="author" content="Miguel Gastelumendi - miguel.gastelumendi@gmail.com">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/leaflet.wmslegend.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/leaflet.groupedlayercontrol.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Leaflet.Coordinates-0.1.5.css')}}"/>

	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lib/jquery/plugin/jquery.mCustomScrollbar.min.css')}}"/>
	<!-- Font-awesome -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lib/fontawesome/v5.3.1/all.css')}}"/>
	<!-- Font Material design google -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lib/bootstrap/bootstrap-4.1.3.min.css')}}"/>
	<!-- TerraBrasilis/AMS styles -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/terrabrasilis.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}"/>
	
</head>
<body>
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar" style="display: none;">

			<a href="http://terrabrasilis.dpi.inpe.br">
				<div class="sidebar-header">
					<div class="desctxt">
						<h5><span class="amarelo">Terra</span><span class="verde">Brasilis</span> </h5>
						<div id="header-menu">AMS</div>
					</div>
				</div>
			</a>

			<ul class="list-unstyled components">

				<li class="active">
					<!-- manter active no primeiro -->
					<a href="#graficos" data-toggle="collapse" aria-expanded="true">
						<span id="nv-chart-day">Primeira sessão de itens de menu</span></a>
				</li>
				<li>
					<a href="/app/dashboard/alerts/legal/amazon/daily/" id="toDailyChart-amz" title="Abrir o painel de avisos diários para a Amazônia Legal." aria-expanded="false">
						<i class="material-icons">insert_chart</i><span id="nv-daily-amz">Item 1</span></a>
				</li>
				<li>
					<a class="enable_menu" href="/app/dashboard/alerts/biomes/cerrado/daily/" id="toDailyChart-cer" title="Abrir o painel de avisos diários para o Bioma Cerrado." aria-expanded="false">
						<i class="material-icons">insert_chart</i><span id="nv-daily-cer">Item 2</span></a>
				</li>
			</ul>

			<ul class="list-unstyled components">

				<li class="active">
					<!-- manter active no primeiro -->
					<a href="#graficos" data-toggle="collapse" aria-expanded="true">
						<span id="nv-chart-agg">Segunda sessão de itens de menu</span></a>
				</li>
				
				<li>
					<a href="/app/dashboard/alerts/legal/amazon/aggregated/" id="toAggregatedChart-amz" title="Abrir o painel agregado mensal de avisos para a Amazônia Legal." aria-expanded="false">
						<i class="material-icons">insert_chart</i><span id="nv-aggreg-amz">Item 1</span></a>
				</li>
				<li>
					<a href="/app/dashboard/alerts/biomes/cerrado/aggregated/" id="toAggregatedChart-cer" title="Abrir o painel agregado mensal de avisos para o Bioma Cerrado." aria-expanded="false">
						<i class="material-icons">insert_chart</i><span id="nv-aggreg-cer">Item 2</span></a>
				</li>
			</ul>

			<ul class="list-unstyled components">

				<li class="active">
					<!-- manter active no primeiro -->
					<a href="#ferramentas" data-toggle="collapse" aria-expanded="true">
						<span id="tools">Terceira sessão de itens de menu</span></a>
				</li>
				<li>
					<a href="#modal-container-download" id="downloadBtn" data-toggle="modal" title="Baixar a tabela de avisos de desmatamento.">
						<i class="material-icons">cloud_download</i><span id="txt4">Item 1</span></a>
				</li>

				<li>
					<a href="#print_information" id="prepare_print" title="Imprimir esta página utilizando o recurso do navegador."
					 data-toggle="modal">

						<i class="material-icons">print</i><span id="txt4s">Item 2</span></a>
				</li>

			</ul>
			
		</nav>
	</div>

	<!-- Menu superior -->
	<div id="content">
		<nav class="navbar navbar-expand-lg materialnav navbar-header">

			<a class="navbar-brand" href="http://terrabrasilis.dpi.inpe.br/"><span class="amarelo">Terra</span><span class="verde">Brasilis</span></a>
			<div class="collapse navbar-collapse justify-content-between">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="#" id="header-panel">| AMS - Sala de Situação da Amazônia</a>
				</div>
				<ul id="navigationBarUL" class="navbar-nav navbar-right analises">

					<li class="nav-item">
						<a class="nav-link" href="#modal-container-menu-about" id="goto_menu-about" data-toggle="modal" title="Abrir sobre o AMS">
							<span id="about-menu">Sobre</span>
  						</a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" target="_blank" href="http://www.inpe.br/ouvidoria/" title="Envie sugestões, perguntas, elogios ou reclamações.">
							<span id="contactus-menu">Fale Conosco</span>
						</a>
					</li>

				</ul>
			</div>
		</nav>
	</div><!-- fim da barra superior -->

	<!-- componente de informacao de carregamento de conteudo -->
	<div class="container-fluid" id="info_container">
		<div class="row box">
			<div class="col-md-12">
				<div class="text-center">
					<div id="loading_data_info" style="display:none;"><img alt="loading gif when waiting data" src="{{ url_for('static', filename='imgs/loading_map.gif') }}" /></div>
					<div id="warning_data_info" style="display:none;">
						<h3><span id="txt8">Problema na comunicação com o servidor.<br>Aguarde alguns minutos e recarregue a página.</span></h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- area util central onde deverao ser colocados os componentes da aplicação -->
	<div class="container-fluid" id="panel_container">

		<div id="map"></div>

	</div><!-- Fim da area util central -->

	<!-- start footer and modals -->
	<div class="container">
		<div class="row box">
			<div class="col-md-12">

				<!-- modal window for Menu About -->
				<div class="modal fade" id="modal-container-menu-about" role="dialog" aria-labelledby="menu-about" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content modalinf">
							<div class="modal-header fechar">
								<h5 class="modal-title boxtitletable"><span id="txt2a">Sobre</span></h5>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
							</div>
							<div class="modal-body">
								<div class="alert alert-secondary">
								A "Sala de Situação da Amazônia" (AMS) é uma ferramenta web que visa subsidiar ações de inteligência territorial através
								da visualização sinótica de indicadores de áreas críticas do desmatamento, integrando os alertas do sistema Detecção
								do Desmatamento em Tempo Quase Real (DETER). Está ferramenta está integrada no portal TerraBrasilis.
								</div>
								<div class="alert alert-secondary">
								O objetivo principal da ferramenta é apoiar o planejamento de ações de fiscalização pelas Secretarias de Meio Ambiente
								dos Estados e IBAMA, além de auxiliar outros setores da sociedade a entender,
								de forma sintética, os múltiplos processos em curso na Amazônia (desmatamento corte-raso, degradação, corte-seletivo, mineração)
								e propor ações efetivas para controle desses processos na região.
								Por exemplo, ações restritivas ou de incentivo a municípios críticos.
								</div>
								<div class="alert alert-secondary">
								A ferramenta Terrabrasilis/AMS é derivada de uma colaboração científica entre pesquisadores do INPE e Universidade Federal de Minas Gerais (UFMG)
								com a Secretaria de Meio Ambiente e Sustentabilidade do Pará (SEMAS-PA) e acreditamos que seja útil para todos os demais atores.
								</div>
								<div class="alert alert-dark">
									Os dados do AMS s&atilde;o p&uacute;blicos, abertos e gratuitos, sob a seguinte licen&ccedil;a:
									<a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR">
										<img alt="Licen&ccedil;a Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
									</a>
									<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR">Creative
										Commons Atribui&ccedil;&atilde;o-N&atilde;oComercial-CompartilhaIgual 4.0 Internacional</a>.
									<br/>
									A fonte deve ser referenciada no seguinte formato:<br/>
									<samp>
										Amazon Situation Room/TerraBrasilis. 
										<b>Instituto Nacional de Pesquisas Espaciais</b>, 2021. 
										Dispon&iacute;vel em &lt;http://terrabrasilis.dpi.inpe.br/ams/&gt;.
										Acesso em: 19 de jul. de 2021.
									</samp>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end modal -->



				<!--Footer-->
				<footer class="footer">
					<p><a href="http://terrabrasilis.dpi.inpe.br"> TerraBrasilis</a>&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></p>
					<div class="version_style" id="version"></div>
				</footer>
				<!--/.Footer-->
			</div>
		</div>
	</div>
	<!-- end footer and modals -->
	<script type="text/javascript">
		var startApp=()=>{
			var gsWorkspace = "{{workspace}}";
			// register workspace name to work on front-end
			ams.Auth.setWorkspace(gsWorkspace);
			// evaluate the user profile on start app
			ams.Auth.evaluate();
			// set map div to available height
			ams.Utils.setMapHeight();
			var sus = JSON.parse("{{spatial_units_info|safe}}".replaceAll("'","\""));
			var spatialUnits = new ams.Map.SpatialUnits(sus, sus[0].dataname);
			var deterClassGroups = new ams.Map.DeterClassGroups(JSON.parse("{{deter_class_groups|safe}}".replaceAll("'","\"")));
			var geoserverUrl = "{{geoserver_url}}";
			ams.App.run(geoserverUrl, spatialUnits, deterClassGroups);
		};
	</script>

	<script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.wms.js')}}"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.wmslegend.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.groupedlayercontrol.js')}}"></script>
	<script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/utils.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/auth.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/map.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/sld.styles.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/date.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/datepicker.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/leaflet.wms.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/app.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/Leaflet.Coordinates-0.1.5.min.js')}}"></script>

	<!-- Start the JS dependencies of Terrabrasilis template -->
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/bootstrap/bootstrap-4.1.3.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/popper/1.14.3/popper.min.js')}}"></script>
	<!-- jQuery Custom Scroller -->
	<script type="text/javascript" src="{{url_for('static', filename='js/lib/jquery/plugin/jquery.mCustomScrollbar.concat.min.js')}}"></script>
	<script type="text/javascript" src="http://terrabrasilis.dpi.inpe.br/oauth-api/getoauthjs"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=G-VF4139FH8F"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ams/terrabrasilis-start.js')}}"></script>
</body>
</html>
