<!DOCTYPE html>
<html>
<head>
	
	<title>AMS - Amazon Situation Room</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" /> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.wms.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.wmslegend.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.wmslegend.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.groupedlayercontrol.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet.groupedlayercontrol.js')}}"></script>      

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
		#spatial-unit-title {
			font-weight: bold;
		}
	</style>

	
</head>
<body>

<div id="map"></div>

<script type="text/javascript">
	function updateMap(source, viewParams) {
		source.options["viewparams"] = viewParams.toWmsFormat();
		source._overlay.setParams({
			"viewparams": viewParams.toWmsFormat(),
		});		
	}

	const ViewParams = function(classname, date, limit) {
		this.classname = classname;
		this.date = date;
		this.limit = limit;
		this.toWmsFormat = function() {
			return "classname:"+this.classname+";date:"+this.date+";limit:"+this.limit;
		}
	}

	const SpatialUnits = function(spatialUnits, suDefaultName) {
		this.getSpatialUnit = function getSpatialUnit(name) {
			for(var i = 0; i < this.spatialUnits.length; i++) {
				if(this.spatialUnits[i].dataname == name) {
					return this.spatialUnits[i];
				}
			}
			return null;				
		}			
		this.spatialUnits = spatialUnits;
		this.default = this.getSpatialUnit(suDefaultName);
		this.isSpatialUnit = function(name) {
			for(var i = 0; i < this.spatialUnits.length; i++) {
				if(this.spatialUnits[i].dataname == name) {
					return true;
				}
			}
			return false;			
		}
		this.length = function() {
			return this.spatialUnits.length;
		}
		this.at = function(pos) {
			return this.spatialUnits[pos];
		}	
	}

	const DeterClassGroups = function(groups) {
		this.groups = groups;
		this.length = function() {
			return this.groups.length;
		}
		this.at = function(pos) {
			return this.groups[pos];
		}		
	}

	const PercentageStyle = function(layerName, onlyStroke) {
		this.setStroke = function(onlyStroke) {
			if(onlyStroke) {
				this.fillOpacity = 0;
	            this.stroke = `<Stroke>
                  <CssParameter name="stroke">#ff0000</CssParameter>
                  <CssParameter name="stroke-width">2</CssParameter>
                  <CssParameter name="stroke-linejoin">bevel</CssParameter>
                </Stroke>`;			

			}
		}
		this.stroke = "";
		this.fillOpacity = 1;
		this.setStroke(onlyStroke);
		this.sld = `
	<?xml version="1.0" encoding="ISO-8859-1"?>
	<StyledLayerDescriptor version="1.0.0" 
	    xsi:schemaLocation="http://www.opengis.net/sld StyledLayerDescriptor.xsd" 
	    xmlns="http://www.opengis.net/sld" 
	    xmlns:ogc="http://www.opengis.net/ogc" 
	    xmlns:xlink="http://www.w3.org/1999/xlink" 
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	  <NamedLayer>
	    <Name>${layerName}</Name>
	    <UserStyle>
	      <Title>SLD Cook Book: Attribute-based polygon</Title>
	      <FeatureTypeStyle>
	        <Rule>
	          <Name>Small</Name>
	          <Title>Less Than 0.001</Title>
	          <ogc:Filter>
	            <ogc:PropertyIsLessThan>
	              <ogc:PropertyName>percentage</ogc:PropertyName>
	              <ogc:Literal>0.001</ogc:Literal>
	            </ogc:PropertyIsLessThan>
	          </ogc:Filter>
	          <PolygonSymbolizer>
	            <Fill>
	              <CssParameter name="fill">#ffe3e3</CssParameter>
	              <CssParameter name="fill-opacity">${this.fillOpacity}</CssParameter>
	            </Fill>
	            ${this.stroke}
	          </PolygonSymbolizer>
	        </Rule>
	        <Rule>
	          <Name>Medium</Name>
	          <Title>0.001 - 0.005</Title>
	          <ogc:Filter>
	            <ogc:And>
	              <ogc:PropertyIsGreaterThanOrEqualTo>
	                <ogc:PropertyName>percentage</ogc:PropertyName>
	                <ogc:Literal>0.001</ogc:Literal>
	              </ogc:PropertyIsGreaterThanOrEqualTo>
	              <ogc:PropertyIsLessThan>
	                <ogc:PropertyName>percentage</ogc:PropertyName>
	                <ogc:Literal>0.005</ogc:Literal>
	              </ogc:PropertyIsLessThan>
	            </ogc:And>
	          </ogc:Filter>
	          <PolygonSymbolizer>
	            <Fill>
	              <CssParameter name="fill">#ff7171</CssParameter>
	              <CssParameter name="fill-opacity">${this.fillOpacity}</CssParameter>
	            </Fill>
	            ${this.stroke}
	          </PolygonSymbolizer>
	        </Rule>
	        <Rule>
	          <Name>LargePop</Name>
	          <Title>Greater Than 0.005</Title>
	          <ogc:Filter>
	            <ogc:PropertyIsGreaterThan>
	              <ogc:PropertyName>percentage</ogc:PropertyName>
	              <ogc:Literal>0.005</ogc:Literal>
	            </ogc:PropertyIsGreaterThan>
	          </ogc:Filter>
	          <PolygonSymbolizer>
	            <Fill>
	              <CssParameter name="fill">#ff3838</CssParameter>
	              <CssParameter name="fill-opacity">${this.fillOpacity}</CssParameter>
	            </Fill>
	            ${this.stroke}
	          </PolygonSymbolizer>
	        </Rule>
	      </FeatureTypeStyle>
	    </UserStyle>
	  </NamedLayer>
	</StyledLayerDescriptor>`;	
		this.getSLD = function() {
			return this.sld;
		}
		this.getEncodeURI = function() {
			return encodeURIComponent(this.sld);
		}
	}	

	var gsWorkspace = "{{workspace}}"; 
	var sus = {{spatial_units_info|safe}};
	var spatialUnits = new SpatialUnits(sus, sus[0].dataname);
	var deterClassGroups = new DeterClassGroups({{deter_class_groups|safe}});

	var map = new L.Map("map").setView([spatialUnits.default.center_lat, spatialUnits.default.center_lng], 5);

	var osmLayer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
		maxZoom: 18,
		crs: L.CRS.EPSG4326
	}).addTo(map);

	var suViewParams = new ViewParams(deterClassGroups.at(0).name, "2020-10-01", "ALL");
	var layer1Name = gsWorkspace + ":" + spatialUnits.default.dataname + "_view";
	var layer1Style = new PercentageStyle(layer1Name);
	var wmsUrl = "http://localhost:8080/geoserver/wms?"
	var wmsOptions = {
		"transparent": true, 
		"tiled": true, 
		"format": "image/png", 
		// "identify": false
		"opacity": 0.6,
		// "noRedraw": false,
		// "styles": "ams:ams_percentage",
		"env": "v0:0;v1:0.008;v2:0.009;v3:0.1;v4:0.02;v5:1",
		"viewparams": suViewParams.toWmsFormat(),
		"sld_body": layer1Style.getSLD(),
	};
	var source = L.WMS.source(wmsUrl, wmsOptions);
	var layer1 = source.getLayer(layer1Name);
	var currentLayer = layer1;
	layer1.addTo(map);	

	var priorLayerName = layer1Name;
	var priorLayerStyle = new PercentageStyle(layer1Name, true);
	var priorViewParams = new ViewParams(deterClassGroups.at(0).name, "2020-10-01", "15");	
	var priorWmsOptions = {
		"transparent": true, 
		"tiled": true, 
		"format": "image/png", 
		// "identify": false
		// "opacity": 0.6,
		// "noRedraw": false,
		// "styles": "ams:ams_percentage",
		"env": "v0:0;v1:0.008;v2:0.009;v3:0.1;v4:0.02;v5:1",
		"viewparams": priorViewParams.toWmsFormat(),
		"sld_body": priorLayerStyle.getSLD(),
	};
	var priorSource = L.WMS.source(wmsUrl, priorWmsOptions);
	var priorLayer = priorSource.getLayer(layer1Name);
	priorLayer.addTo(map);
	// updateMap(priorSource, priorViewParams);

	var suLayers = {};
	suLayers[spatialUnits.default.dataname] = layer1;

	var groupedOverlays = {
		"Spatial Unit": {
			[spatialUnits.default.dataname]: layer1
		},
		"Indicator": {},
		"Class": {},
	};	
	
	for(var i = 1; i < spatialUnits.length(); i++) {
		var layer = source.getLayer(gsWorkspace + ":" + spatialUnits.at(i).dataname);
		suLayers[spatialUnits.at(i).dataname] = layer;
		groupedOverlays["Spatial Unit"][spatialUnits.at(i).dataname] = layer;
	}

	var layer2 = new L.WMS.Layer(wmsUrl, "percentage", wmsOptions).addTo(map);	
	groupedOverlays["Indicator"]["Area"] = layer2;
	
	var layer3 = new L.WMS.Layer(wmsUrl, deterClassGroups.at(0).name, wmsOptions).addTo(map);	
	groupedOverlays["Class"][deterClassGroups.at(0).name] = layer3;	
	
	for(var i = 1; i < deterClassGroups.length(); i++)
	{
		let layer = new L.WMS.Layer(wmsUrl, deterClassGroups.at(i).name, wmsOptions);	
		groupedOverlays["Class"][deterClassGroups.at(i).name] = layer;
	}

	var groupControl = L.control.groupedLayers(null, groupedOverlays, {
		exclusiveGroups: ["Spatial Unit", "Indicator", "Class"],
		collapsed: false,
	});
	
	groupControl.addTo(map);

	map.on('overlayadd', function(e) {
		console.log(e);
		if(!spatialUnits.isSpatialUnit(e.name)) {
			suViewParams.classname = e.name;
			priorViewParams.classname = e.name;
			updateMap(priorSource, priorViewParams);
			updateMap(source, suViewParams);
		}
		else {
			console.log(e);
			source.options["styles"] = '';
			source.options["viewparams"] = '';
			source.options["env"] = '';
			source._overlay.setParams({
				"styles": '',
				"viewparams": '',
				"env": '',
			});					
		}
	});	

	$('<div class="leaflet-control-layers-group" id="prioritization-control-layers-group-name"><label class="leaflet-control-layers-group-name"><span class="leaflet-control-layers-group-name">Prioritization </span><input type="number" id="prioritization-input" min="1" max="50" value=' 
		+ priorViewParams.limit + ' /></label></div>').insertAfter('#leaflet-control-layers-group-2');	

	$("#prioritization-input").keypress(function(e) {
		if (e.which == 13) {
			let limit = document.getElementById("prioritization-input").value;
			priorViewParams.limit = limit;
			updateMap(priorSource, priorViewParams);	
			return false;
		}
	});

	var legendUrl = wmsUrl 
					+ "REQUEST=GetLegendGraphic&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=ams:csAmz_150km_view&sld_body="
					+ layer1Style.getEncodeURI(); 
	var wmsLegendControl = new L.Control.WMSLegend;
    wmsLegendControl.options.uri = legendUrl;
    wmsLegendControl.options.position = "bottomright";
    map.addControl(wmsLegendControl);
 
</script>
</body>
</html>
