<div class="leaflet-bottom leaflet-center">
  <div class="slider-container">
    <div class="slider-form">
      <div class="slider-label">Risco Ibama</div>
      <div class="slidecontainer">
        <input
          id="myRange"
          class="slider"
          type="range"
          min="0"
          max="3"
          step="1"
          value="0"
          data-tick-step="1"
          data-tick-id="weightTicks"
          data-value-id="weightValue"
          data-progress-id="weightProgress"
          data-handle-size="18"
          data-min-label-id="weightLabelMin"
          data-max-label-id="weightLabelMax"
        />
        <div id="sliderValue" class="slider-value"></div>
        <div class="ticks-container">
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
        </div>
        <div class="tick-labels">
          <span class="tick-label">Muito baixo</span>
          <span class="tick-label">Baixo</span>
          <span class="tick-label">Moderado</span>
          <span class="tick-label">Muito alto</span>
        </div>
      </div>
    </div>
  </div>
</div>
